.App {
top: 0;
margin: 0;
}

.page p{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: black;

  /*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

html {
  margin-top:0;
}

.popUpBackground {
  top:0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 1;  
}

.popUp { 
  margin: 20vh auto;
  width:400px;
  height:250px;
  border-radius: 8px;
  color: black;
  background-color: ghostwhite;
  z-index: 2;   
  display: flex;
  flex-direction: column;
  padding-top:30px
}

.popUp>div {
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: rgb(0, 0, 0);
  margin:auto;  
  align-items: left;
}

.popUp button {
	background-color: lightgray;
  border:1px solid black;
  margin:10px;  
  align-items: left;
}

input {
  background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}

.card-container{
  display: grid;
  justify-content: center;
  margin: 8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card-container__cards-add{
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
  background-color: ghostwhite;
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  height:450px;
  max-width:360px;
  min-width:260px;
  text-align: center;
  color: black;
  cursor:pointer;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container__cards-add p{
 font-size: 50px;
 margin-top: -20px;
}

.card-container__cards-add img{
 width: 300px;
 height: 400px;
}

.card-container__cards-update{
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
  background-color: ghostwhite;
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  height:450px;
  max-width:360px;
  min-width:260px;
  text-align: center;
  color: black;
  cursor:pointer;
}

.card-container__cards-image {
  margin-top: 5px;
  max-width: 99%;
  height: 250px;
  object-fit: fill;
}

.card-container__cards:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.panel {
  display: none;
}

.panelactive {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.panelactive button{
  margin:20px;
}


button {
  display:inline-block;
  padding:0.5em 0.5em;
  border:0.16em solid black;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#000000;
  text-align:center;
  font-size: 12px;
  transition: all 0.15s;
  border-radius: 50px;
  margin-top: 20px;
  background-color:#cdc9c9;
  opacity: 80%;
  }

  button:hover{
  color:#000000;
  background-color: gray;
  }

.newPuppy--btn {
  float: right;
  margin-right: 0px;
  width: 71%;
}

.blocking-div {
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  position: absolute;
  z-index: 1;
  display: none;
}

.footer {
  position: absolute;
  height:70px;
  width:100vw;
  background-color: #000000;
  color:ghostwhite;
  text-align: center;
}

.footer p{
  margin-top: 20px;
  font-size: 20px;
}

.header {
  top: 0;
  position: fixed;
  height:100px;
  width:100vw;
  background-color: #000000;
  color:ghostwhite;
  text-align: center;
  z-index: 10;
}

.header p{
  margin-top: 10px;
  font-size: 60px;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  
  .card-container{
    grid-template-columns: repeat(3, 1fr);
  }  
}
@media only screen and (max-width: 900px) {
  
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media only screen and (max-width: 600px) {

  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
